@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: arial;
    font-size: 14pt;
    background-image: url(/img/sky.jpg);
}
header {
  overflow: hidden;
  padding: 0px;
  text-align:center;
}
header > img{
  height: auto;
  width: 100%;
  text-align: center;
  opacity: 0.75;

}
h1 {
  position: absolute;
  color: #FF5555;
  font-size: 39pt;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -500%);
}

.wrapper {
     display: grid;
     grid-gap: 0px;
     grid-template-columns: 33.3333333% 33.333333333% 33.333333333%;
     background-color: #fff;
     color: #FFFFFF;
 }

 .box {
     border-radius: 0px;
     padding: 20px;
     background-color: #333333;
 }

 .a {
    grid-column: 1;
}
.b {
    grid-column: 2 ;
}
.c {
    grid-column: 3 ;

}


a, strong, em {
    color: #0099ff;
}

.special_ing {
    color: #ff5500;
    font-weight: bold;
}

.select {
  text-align: left;
}

.delivery{

}

button {
    margin: 20px 0px;
}
button:hover {
  background-color: #FF4422;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  align: center;

}
input[type*="radio"]{
  font-weight: normal;
  background-color: green;
}

td {
  padding: 5px;
  width: 22%;
  align: center;
  border-left: 4px solid #EEEEEE;
}

section {
  margin: 20px;
  border: 5px solid #ff4422;
  padding: 10px;
  background-color: #DDDDDD;
}

#burgers {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}
